/*reset CSS*/
* {
 	outline: 0;
	padding: 0;
	margin: 0;
	border: 0; 
}
body{
  background-color: #245176;
  font-family: sans-serif;
}
#wrapper{
  width: 970px;
  margin: 0px auto;
  position: relative;
}
header{
  margin-top: 20px;
}
img{
  height: 100px;
  display: inline-block;
}
#right-header{
  margin-left: 252px;
  display: inline-block;
  vertical-align: top;
}
header p{
  display: inline-block;
  font-size: .8em;
  vertical-align: top;
  margin-left: 170px;
}
#label{
  color: #EAEEF1;
}
header p>a{
  color: #D3B200;
}
#searchbox{
  background-color: #444444;
  display: block;
  height: 65px;
  width: 250px;
  margin-left: 100px;
  line-height: 65px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #1D1D1D;
}
input{
  height: 35px;
  width: 150px;
  box-shadow: 1px 1px 1px #1d1d1d;
  color: gray;
  text-align: center;
  font-size: .7em;
}
button{
  background-color: #245176;
  height: 25px;
  width: 35px;
  margin-left: 5px;
  font-size: .8em;
  color: #eaeef1;
}
#menu{
  text-align: center;
}
#menu ul{
  list-style: none;
  text-align: center;
  background-color: #447DAC;
  width: 885px;
  height: 50px;
  margin-top: 10px;
  margin-left: 50px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
}
#menu ul li{
  display: inline-block;
  line-height: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
#menu a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.4em;
}
#links{
  text-align: center;
  list-style-position: inside;
  display: inline-block;
  width: 350px;
  vertical-align: top;
  margin-top: 35px;
}
#links li{
  margin-bottom: 10px;
  color: yellow;
}
#links li a{
  color: white;
}
#main{
  display: inline-block;
  width: 600px;
  vertical-align: top;
  margin-top: 25px;
  font-size: .9em;
  text-align: center;
  color: white;
}
#quote p{
  font-size: 1.4em;
  color: #d3b200;
  font-style: italic;
  margin: 12px 0;
}
#quote~p{
  font-size: 1.2em;
}
#guide{
  background-color: #FFFFFF;
  margin: 25px auto;
  text-align: center;
}
.section{
  display: inline-block;
  width: 375px;
  vertical-align: top;
  margin: 20px auto;
  font-size: .9em;
  border-top: 4px solid #73A7D5;
  padding-top: 5px;
  margin-right: 25px;
}
h3{
  font-size: 1.2em;
}
.section p{
  line-height: 1.3em;
  width: 300px;
  margin: 5px auto;
}
.section p a{
  text-decoration: none;
  color: #73a7d5;
  font-size: .8em;
}
.section ul{
  width: 250px;
  text-align: center;
  margin-left: 80px;
  line-height: 1.3em;
  list-style-type: square;
}
.section ul li a{
  margin-left: 5px;
  padding-left: 0;
  text-decoration: none;
  color: #73A7D5;
}
footer{
  text-align: center;
  height: 150px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #84B6E2;
  padding-top: 35px;
  background: linear-gradient(#245176, #3374AC)
}
footer ul{
  list-style: none;
}
footer ul li{
  display: inline-block;
  margin-right: 25px;
}
footer ul li a{
  color: #84B6E2;
  text-decoration: none;
  font-size: 1.1em;
}
footer p{
  margin-top: 10px;
  font-size: .6em;
}